<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Mobile Test Automation Suite" verbose="1">
    
    <parameter name="platform" value="android"/>
    <parameter name="deviceName" value="Android Emulator"/>
    
    <listeners>
        <!-- Add custom listeners here if needed -->
    </listeners>
    
    <!-- All Mobile Tests -->
    <test name="Mobile Test Suite" preserve-order="true">
        <classes>
            <class name="com.automation.tests.DeviceConnectivityTest">
                <methods>
                    <include name="testDeviceConnectivity"/>
                </methods>
            </class>
            <class name="com.automation.tests.ContactsExplorationTest">
                <methods>
                    <include name="testContactsAppExploration"/>
                </methods>
            </class>
            <class name="com.automation.tests.CreateContactTest">
                <methods>
                    <include name="testCreateContactFlow"/>
                </methods>
            </class>
            <class name="com.automation.tests.CompleteContactTest">
                <methods>
                    <include name="testCompleteContactManagement"/>
                </methods>
            </class>
        </classes>
    </test>
    
</suite>
